# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Python package files
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and credentials
.env
*.env
config.json
secrets.json

# macOS system files
.DS_Store

# Docker and CI/CD
*.dockerfile
docker-compose.override.yml

# MyPy & Pytest cache
.mypy_cache/
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
data/**
./data/** */